@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
  color: black;
  padding: 0 auto;
  margin: 0 auto;
  background-color: black; 
}

.header-top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 100%;
  z-index: 99;
  background-color: black;
  position: fixed;
}
.header-pro{
  width: 40%;
  font-size: 4em;
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;
}
.header-pro h1{
  padding-left: 20%;
}
nav {
  width: 60%;
  text-align:center;
}
nav a {
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 3px;
  color:whitesmoke;  
}


/* FIN PARTIE TOP  */

.bande {
  height: 10vh;
}
/* DEBUT PARTI MAIN  */

main {
  height: 60vh;
  display: flex;
  overflow: hidden;

}

.main-left {
  width: 50%;
  height: 60vh;
  background-color: whitesmoke;
  border-radius: 5%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-left h2 {
  z-index: 1;
  font-size: 2.5em;
  color: black;
  position: absolute;
  top: 25px;
}
.test {
  width: 450px;
  height: 450px;
  background-color: white;
  z-index: 1;
  margin-left: 30px;
  border: 2px solid black;
  border-radius: 5%;
  color: black;
  
}
#canvas {
  background: url(/picture/content/corps.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 5%;
  border: 1px solid black;
  cursor:crosshair;

}
.main-right{
  width: 50%;
  background-color: whitesmoke;
  border-radius: 5%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 25px;
  
}
.main-right textarea {
  width: 50%;

}

.main-right h2 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 55px;

}
.pastille {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.main-left h3 {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.color1,.color2,.color3,.color4,.color5,.color6 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid gold;
  margin: 5px;
}
.color1 {
  background-color: black;
}
.color2 {
  background-color: brown;
}
.color3 {
  background-color: peru;
}
.color4{
  background-color: burlywood;
}
.color5 {
  background-color: plum;
}
.color6 {
  background-color: ghostwhite;
}

.longLarg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center; 
  font-size: 1.3em;
  margin-top: 15px;
  
}
.longLarg input {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25%;
  width: 50%;
  height: 1.5vh;
}

.sect1-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3em;
}
.sect1-top input,.sect1-bot input {
  height: 20px;
}
.sect1-bot h3 {
  font-size: 1.5em;
  padding-bottom: 15px;
}
.sect1-bot-left,.sect1-bot-right {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content:center;
  font-size: 1.3em;

}

.sect1-bot input {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 60%;
  height: 1.5vh;
}

/* FIN PARTIE MAIN  */

/* DEBUT PARTIE SECTION2 */

.section-2{
  width: 100%;
  height: 25vh;
  border-radius: 5%;
  background-color: whitesmoke;
  margin-top: 15px;
  text-align: center;
 
}
.sect2Input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sect2Input label {
  width: 180px;
  text-align:center;
  padding-right:10px;
  padding-bottom: 15px;
}
.imgFile {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.3em;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sect2Input input, label {
  float:left;
}
.section-2 h2 {
  font-size: 2.5em;
  padding-top: 25px;
}
.section-2 input {
  width: 25%;
}
.sect2-left {
  width: 50%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
}
.sect2-right {
  width: 50%;
  font-size: 1.3em;  display: flex;
  flex-direction: column;

}
/* FIN PARTIE SECTION2 */
/* FIN PARTIE FOOTER */


/* DEBUT PARTIE FOOTER */
footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}
.footer-top {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-top h2{
  text-decoration: none;
  font-size: 2.5em;
}
.footer-bot {
width: 100%;
height: auto;
text-align:center;

}
.footer-bot a {
  text-decoration: none;
}

.footer-bot img {
width: 75px;
height: 75px;
border-radius: 30%;
border: 2px solid lightgreen;
margin-right: 15px;
}
/* FIN PARTIE FOOTER */

